In [316]:
import shelve
import pandas as pd
from nltk.tokenize import TweetTokenizer
from nltk.util import ngrams
pd.set_option('display.max_rows', 500)
from read_tweets import parse_raw_tweets
from tokenizer import tokenize

In [317]:
batch_path = '../private_data/batch.txt'
parse_raw_tweets(batch_path)
shelf = shelve.open('../private_data/tweet_processing')
users_df = shelf['users_df']
tweets_df = shelf['tweets_df']
shelf.close()
tweets_df.head()

,author_id,tweet_id,tweet_text
0,197715581,1271114681168658435,RT @keithboykin: General Mark Milley apologize...
1,3411140663,1271114680996630530,RT @charliekirk11: Do you think if Trump suppo...
2,882582543400402944,1271114680849793024,RT @charliekirk11: Do you think if Trump suppo...
3,362306960,1271114680753414145,RT @AprilDRyan: Pastor Darrell Scott is the ar...
4,949811328121794561,1271114680610820098,RT @thehill: JUST IN: Trump admin proposes cra...

In [318]:
merged = pd.merge(tweets_df, users_df, on='author_id')
merged.head()

,author_id,tweet_id,tweet_text,location
0,197715581,1271114681168658435,RT @keithboykin: General Mark Milley apologize...,Nederland
1,3411140663,1271114680996630530,RT @charliekirk11: Do you think if Trump suppo...,"Ponte Vedra Beach, FL"
2,882582543400402944,1271114680849793024,RT @charliekirk11: Do you think if Trump suppo...,USA
3,362306960,1271114680753414145,RT @AprilDRyan: Pastor Darrell Scott is the ar...,where I'm at
4,550561121,1271114680463998977,RT @bessbell: I say this as a Jewish person wh...,"Virginia, USA"

### Combining with Location data

In [319]:
import shelve
shelf = shelve.open('../public_data/location_data')
state_strings = shelf['state_strings']
foreign_entities = shelf['foreign_entities_df']
states_df = shelf['states_df']
states_dict = shelf['states_dict']
all_entities = shelf['all_entities']
shelf.close()
foreign_entities.head()

                   name      pop  is_foreign state raw_name_string
4                 Adrar   200834        True  None            None
5             Ain Defla   450280        True  None            None
6        Ain Temouchent   299341        True  None            None
7  ALGIERS (EL DJAZAIR)  2712944        True  None            None
8                Annaba   442230        True  None            None

In [320]:
def is_foreign(s):
    strings = [n for n in foreign_entities['name'] if n in s]
    # marked foreign if strings is not empty
    return bool(strings)

#merged['is_foreign'] = merged['location'].apply(lambda s: any(n in s for n in foreign_entities['name']))
#merged['strings'] = merged['location'].apply(lambda s: [n for n in foreign_entities['name'] if n in s])
merged['is_foreign'] = merged['location'].apply(is_foreign)
merged[merged['is_foreign']].tail(100)

,author_id,tweet_id,tweet_text,location,is_foreign
1,3411140663,1271114680996630530,RT @charliekirk11: Do you think if Trump suppo...,"Ponte Vedra Beach, FL",True
8,2259766448,1271114679432040448,RT @FriendEden100: Health officials warn that ...,YYC That's in Canada eh !,True
9,4748941452,1271114679046123522,It feels like Biden and trump are both activel...,"Portland, OR",True
13,382662642,1271114678333247490,RT @politvidchannel: BREAKING: the mayor of Se...,"New York, USA",True
16,457610431,1271114677586743297,"RT @Lexual__: No but seriously, the whole thin...","Cleveland, OH",True
17,1426563144,1271114677536219138,"RT @Lexual__: No but seriously, the whole thin...","Los Angeles, CA",True
23,1320758359,1271114677120974848,"RT @Lexual__: No but seriously, the whole thin...","California, USA",True
27,1238467556962381824,1271114676160598021,@CameronRidle That “Unplug” will occur Novembe...,"Indianapolis, IN",True
33,30706941,1271114674130608130,RT @keithboykin: General Mark Milley apologize...,New York,True
34,102532798,1271114674004561920,"RT @TeaPainUSA: Trump calls for ""Law and Order...","Hamilton, Ontario, Canada",True
35,716655316633575424,1271114673966977024,Commence the trump meltdown tweets about the M...,"Indiana, USA",True
37,247138283,1271114673404903431,"RT @Lexual__: No but seriously, the whole thin...",Jamaica,True
39,2396740826,1271114672981319680,"RT @CNN: JUST IN: Gen. Mark Milley, America’s ...",Portugal,True
40,2159698634,1271114672620679168,RT @lindyli: Trump just called the Secret Serv...,"New York, NY",True
44,615104446,1271114672071114756,"RT @AP: BREAKING: Army Gen. Mark Milley, the n...",Wales,True
53,34648197,1271114670695424007,RT @ajplus: President Trump is holding a rally...,Ideally on a yacht in Monaco,True
59,1082209549958828032,1271114669969809409,RT @horowitz39: Yes after the Russia hoax and ...,KNIS/Langley,True
62,858730518862602241,1271114669491720194,"RT @kaitlancollins: In the last week, Trump’s ...",East Africa,True
63,416290958,1271114669013508097,RT @JRubinBlogger: “no bottom” has a different...,"Louisville, Kentucky",True
64,3103213542,1271114668442972160,RT @415holgate: Trump's approval rating falls ...,"HillaryVillage, CA",True
65,3103213542,1271114635618336776,RT @TappsReady: Biden: ‘This president is goin...,"HillaryVillage, CA",True
67,17432605,1271114667855941638,RT @cnnbrk: The Republican-led Senate Armed Se...,"Hudson Valley, NY",True
70,1480314654,1271114667226734597,RT @SatansJacuzzi: need help explaining to som...,"New York, NY",True
78,44773895,1271114665511104513,RT @TheRickWilson: 1/ Interesting note:\n\nAs ...,"Phoenix, Arizona",True
80,16248357,1271114664630353920,“Go back to your bunker”: Mayor rejects Trump ...,California,True
82,14149284,1271114664185704450,RT @HunterJCullen: Trump is not running to be ...,"Portland, Oregon",True
84,117597251,1271114663460290565,RT @CREWcrew: 23 different Republican groups s...,Belleville Ontario,True
85,153464869,1271114663422562304,RT @SenSanders: Another 1.5 million Americans ...,"Wrexham, Wales",True
93,3310311903,1271114662826905602,RT @RyanShead: THIS WAS ON A FRIEND’S PAGE: An...,Switzerland,True
101,2888225742,1271114661606207489,RT @AsheSchow: Media outlets are seriously doi...,"Phnom Penh, Cambodia",True
102,1175382141447876608,1271114661589585920,RT @CharlesPPierce: Dear Lincoln Project: the ...,"Boston, MA",True
112,1417921,1271114659928694785,RT @sfpelosi: Milley’s apology for injecting t...,"Central NJ, USA",True
113,1650323768,1271114659895087104,"RT @lawfareblog: ""Trump Signs Executive Order ...","New Jersey, USA",True
115,170296342,1271114659668475904,RT @maggieNYT: More Milley mea culpa for his w...,Southwestern USA. NM. Arizona.,True
117,141506616,1271114659282604033,RT @bessbell: I say this as a Jewish person wh...,"Los Angeles, CA",True
118,1332520058,1271114659215613954,"RT @CaslerNoel: 'On Sunday, April 19, 1914, th...","Coventry, RI",True
123,7141452,1271114657646833665,RT @bessbell: I say this as a Jewish person wh...,California,True
128,7078452,1271114657206611969,"RT @washingtonpost: Analysis: To ""respect the ...","Little Sweden, Lindsborg KS",True
131,57876443,1271114656870854657,"RT @DPRK_News: United States lifts ban on ""bar...","San Francisco, CA",True
132,1234560189358960640,1271114656807976965,"Is Kayleigh McEnany, Trump's equivalent of Hit...","Sonoma County, California",True
133,2805927425,1271114656485199874,RT @tonypox: That Eugene guy fit mad if Trump ...,"Warri, Nigeria",True
138,1247158844435857408,1271114655398875144,RT @sergeivote: Morning tweeps......\n\n@crzyf...,"North Carolina , USA",True
141,289242612,1271114654945734657,"RT @Lexual__: No but seriously, the whole thin...",Califas,True
145,48118512,1271114653817593857,"RT @ewarren: Republicans who close their eyes,...","Cleveland, Ohio",True
149,103120236,1271114652689334272,RT @PalmerReport: Trump is having a campaign r...,"New York, USA",True
151,126734315,1271114652089532416,"Wow, try this one twitter fam. Go on to the tw...",London and (watch this space),True
157,546251550,1271114650977996801,RT @mmpadellan: You want proof that trump HATE...,"Jacksonville Beach, FL",True
161,1228507834762981376,1271114650529062912,Army Gen. Mark Milley says he was wrong to acc...,Glendale AZ(Messanic PASTOR),True
162,519025164,1271114650374082561,RT @NicoleSganga: 🚨For the first time in US hi...,"Washington, DC",True
163,912325837,1271114650336333824,"After a century and a half since the ""end"" of ...","Toronto, Ontario",True
167,3366701164,1271114649740722179,RT @HillaryClinton: COVID-19 is still killing ...,"Arequipa, Peru",True
168,15528065,1271114649421991937,"RT @lawfareblog: ""Trump Signs Executive Order ...","Paris, France.",True
172,111967847,1271114649031884800,"RT @BoycottUtah: It is Thursday, June 11, 2020...","Hamilton, NY",True
176,728249664,1271114647970746368,RT @RepJerryNadler: When we impeached Presiden...,"North Carolina, USA",True
179,876176365,1271114647601590272,"RT @ColumbiaBugle: Can we not all, at this poi...",Eastern Long Island,True
180,946262549481259008,1271114647320629249,Fuck Donald Trump. Fuck Trump supporters. Fuck...,Georgia Southern.,True
187,2596152405,1271114645194014721,RT @wsteaks: Trump campaign also slammed Biden...,"Raleigh, NC",True
188,701153017949769728,1271114644938260480,RT @Amy_Siskind: It's hard to believe our coun...,"Hammond, LA",True
197,50165469,1271114642606059521,This Video Will Get Donald Trump Elected 👀 htt...,"California, USA",True
202,279806168,1271114641519886336,So are we going to protest Trump’s rally or nah?,"New York, New York",True
206,2250004808,1271114640685101056,RT @RyanShead: THIS WAS ON A FRIEND’S PAGE: An...,"Phoenix, AZ",True
219,60891708,1271114638269308936,RT @AsheSchow: Media outlets are seriously doi...,Lancaster pa,True
221,857576859009200128,1271114637443039233,@ScottFordTVGuy @realDonaldTrump @jepence Trum...,"North Fork, NM",True
224,3387683055,1271114636461563904,Trump tweeting about his “SS” is some gaslight...,Canada,True
228,799326481,1271114635450540033,RT @ShahidForChange: Our democracy hangs by a ...,"Fresno, Cali",True
230,49048423,1271114635299581955,RT @questalynne1: @DCJohnNorton @TomJChicago T...,"California, USA",True
231,35389842,1271114635203219456,RT @ACPressJackson: Atlantic City Mayor Marty ...,South Jersey,True
232,16483574,1271114635060621318,RT @Thelonious08: The Electoral College was cr...,Woodstock,True
236,3260171424,1271114632996900865,RT @GCorreaCabrera: Trump administration propo...,Tijuana - Mexicali - SLRC,True
239,715313034491592704,1271114632040599553,"RT @Lexual__: No but seriously, the whole thin...","Los Angeles, CA",True
244,1381782889,1271114631508103175,RT @Yamiche: Chairman of the Joint Chiefs of S...,"Washington, DC, USA",True
245,1265661930523353089,1271114631008800769,"RT @lrozen: West Point grad, trump Secdef Espe...",Phoenix,True
246,346852942,1271114630178304002,RT @bessbell: I say this as a Jewish person wh...,Los Angeles,True
247,1236090627072372738,1271114630035898373,@RubyMMontgomer1 @nytimes No please don’t prom...,"New York, USA",True
250,1365012469,1271114629184356354,"@CREWcrew @OldFuckGCG trump, Jr. is just a scu...",California,True
252,1069977544114561024,1271114628249108482,RT @kylegriffin1: Vulnerable Republican incumb...,"New York, NY",True
262,270730120,1271114626101440512,"RT @Lexual__: No but seriously, the whole thin...","Florence-Graham, CA",True
268,17415663,1271114623844937728,RT @ProudSocialist: APPROVAL RATINGS:\n\nMedic...,"Rohnert Park, CA USA",True
270,21014434,1271114623643762690,RT @Tinker_Bell_04: This is the head of tRump’...,"Harrogate, UK",True
271,1167141054132285440,1271114623593222145,@MayMayZeller Show me one of these assholes th...,"California, USA",True
273,848522031020814338,1271114622855249920,"I guess Mnuchen's not worried, since he'll be ...",Northeast USA,True
275,909123535104176128,1271114622553264129,"RT @MaziNnamdiKanu: “From Iran to #Nigeria, Ch...","Lagos, Nigeria",True
276,162225194,1271114622473515010,Trump and top White House aides were eager to ...,"Washington, DC",True
280,165626652,1271114621349318657,RT @lukeoneil47: Trump has no idea what Junete...,Australia,True
281,17085007,1271114621039063043,RT @matt_cam: Trump's proposed strict #asylum ...,New York City,True
283,738759178139770880,1271114620715929601,RT @HunterJCullen: Trump is not running to be ...,"California, USA",True
284,892469519062585344,1271114620305051648,"RT @jon_rauch: Sad to say, @maxboot: instead o...","Fort Myers, FL",True
285,404131221,1271114620263108610,RT @thehill: Kamala Harris lays into Trump ove...,"Zurich, Switzerland",True
287,1619622464,1271114620107816960,RT @bessbell: I say this as a Jewish person wh...,"Los Angeles, CA",True
289,979537549,1271114619508097026,RT @JoshuaPotash: So Trump’s calling the Secre...,"New Jersey, USA",True
292,298270825,1271114618677497858,"The world needs the WHO, imperfect as it is, s...","Chilliwack, B.C., Canada",True
295,1849848000,1271114618312617984,RT @DonaldJTrumpJr: Things that will get you s...,"San Diego, California",True
297,1150436030056714241,1271114618174390273,@DWUhlfelderLaw Same thing happening here in T...,"Odessa, TX",True

In [321]:
to_append = merged[['author_id', 'tweet_id', 'tweet_text']].copy()
to_append.head(3)

,author_id,tweet_id,tweet_text
0,197715581,1271114681168658435,RT @keithboykin: General Mark Milley apologize...
1,3411140663,1271114680996630530,RT @charliekirk11: Do you think if Trump suppo...
2,882582543400402944,1271114680849793024,RT @charliekirk11: Do you think if Trump suppo...

In [322]:
def get_ngrams(text, n):
    n_grams = ngrams(TweetTokenizer().tokenize(text), n)
    return [ ' '.join(grams) for grams in n_grams]
def get_state(loc_s):
    tokens = get_ngrams(loc_s, 1) + get_ngrams(loc_s, 2)
    states = [states_dict[token] for token in tokens if token in state_strings]
    return states

In [323]:
merged['states'] = merged['location'].apply(get_state)
merged.loc[37]

author_id                                             247138283
tweet_id                                    1271114673404903431
tweet_text    RT @Lexual__: No but seriously, the whole thin...
location                                                Jamaica
is_foreign                                                 True
states                                                       []
Name: 37, dtype: object

In [330]:
def is_foreign_lookup(loc_s):
    subset = all_entities[all_entities['name'].apply(lambda name: name in loc_s)]
    best_guess = subset.sort_values('pop', ascending=False).drop_duplicates(subset='name', keep='first')
    if best_guess.empty:
        return 'no match'
    state = best_guess.iloc[0,:]['state']
    if state is not None:
        return state
    elif best_guess.iloc[0,:]['is_foreign']:
        return 'foreign'
merged['lookup'] = merged['location'].apply(is_foreign_lookup)