# Generating Lookup Tables for Geolocation
This notebook details the steps to generate the lookup tables for geolocation.

In [633]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 300)

# International Cities and Counties
World cities with populations >100K, Canadian cities, Canadian counties, UK cities

In [705]:
# Only need first column of data
usecols=['Unnamed: 0', 'Both sexes\nLes deux sexes', 'Both sexes\nLes deux sexes.1']
un_cities = pd.read_csv('../public_data/uncities.csv', usecols=usecols, skiprows=4)\
    .set_axis(['name', 'city_pop', 'urban_pop'], axis=1)\
    .dropna(subset=['city_pop', 'urban_pop'])  # Drop if neither city or urban population exists
# '...' is alternative name for na
un_cities['pop'] = np.where(un_cities['urban_pop'].str.startswith('.'), un_cities['city_pop'], un_cities['urban_pop'])
un_cities = un_cities[['name', 'pop']]

Empty DataFrame
Columns: [name, pop]
Index: []

In [682]:
un_cities.iloc[0].str.contains('...')

name    True
pop     True
Name: 4, dtype: bool

In [712]:
usecols = ['Unnamed: 2', 'Population (usual residents) : All usual residents - Unit : Persons']
uk_areas = pd.read_csv('../public_data/ukcensusareas.csv', skiprows=1, usecols=usecols)\
    .set_axis(['name', 'pop'], axis=1)
uk_areas[uk_areas.notna()]

                                       name       pop
0                                   England  53012456
1                          Northern Ireland   1810863
2                                  Scotland   5295403
3                                     Wales   3063456
4                                North East   2596886
...                                     ...       ...
9928                  Garth, Menai (Bangor)      5125
9929  Haverfordwest: Prendergast, Rudbaxton      2952
9930                         Brackla, Coity     13820
9931               Crickhowell, Llangattock      3800
9932               Glantwymyn, Llanbrynmair      2960

[9933 rows x 2 columns]

In [723]:
load_cols = ['GEO_NAME', 'DIM: Profile of Census Metropolitan Areas/Census Agglomerations (2247)',
            'Dim: Sex (3): Member ID: [1]: Total - Sex']
canada_areas = pd.read_csv('../public_data/canadacensusareas.csv', low_memory=False, usecols=load_cols)\
                  .set_axis(['name', 'variable', 'pop'], axis=1)
canada_areas = canada_areas[canada_areas['variable'] == 'Population, 2016'].drop(columns=['variable'])
canada_areas

                                    name      pop
0                             St. John's   205955
2247                         Bay Roberts    11083
4494                 Grand Falls-Windsor    14171
6741                              Gander    13234
8988                        Corner Brook    31917
11235                      Charlottetown    69325
13482                         Summerside    16587
15729                            Halifax   403390
17976                          Kentville    26222
20223                              Truro    45753
22470                        New Glasgow    34487
24717                        Cape Breton    98722
26964                            Moncton   144810
29211                         Saint John   126202
31458                        Fredericton   101760
33705                           Bathurst    31110
35952                          Miramichi    27523
38199                        Campbellton    15746
40446   Campbellton (New Brunswick part)    13114
42693          Campbellton (Quebec part)     2632
44940                         Edmundston    23524
47187                             Matane    17926
49434                           Rimouski    55349
51681                    RiviÃ¨re-du-Loup    28902
53928                        Baie-Comeau    27692
56175                           Saguenay   160980
58422                               Alma    32849
60669                 Dolbeau-Mistassini    15673
62916                          Sept-ÃŽles    28534
65163                             QuÃ©bec   800296
67410                       Sainte-Marie    13565
69657                      Saint-Georges    32513
71904                     Thetford Mines    28448
74151                         Sherbrooke   212105
76398                        Cowansville    13656
78645                      Victoriaville    49151
80892                     Trois-RiviÃ¨res   156042
83139                         Shawinigan    54181
85386                      Drummondville    96118
87633                             Granby    85056
89880                    Saint-Hyacinthe    59614
92127                        Sorel-Tracy    41629
94374                           Joliette    49439
96621                           MontrÃ©al  4098927
98868           Salaberry-de-Valleyfield    40745
101115                           Lachute    12862
103362                          Val-d'Or    33871
105609                     Rouyn-Noranda    42334
107856                          Cornwall    59699
110103                        Hawkesbury    11974
112350          Hawkesbury (Quebec part)     1711
114597         Hawkesbury (Ontario part)    10263
116844                 Ottawa - Gatineau  1323783
119091   Ottawa - Gatineau (Quebec part)   332057
121338  Ottawa - Gatineau (Ontario part)   991726
123585                          Arnprior    15973
125832                    Carleton Place    31451
128079                        Brockville    38553
130326                          Pembroke    23269
132573                          Petawawa    17187
134820                          Kingston   161175
137067                        Belleville   103472
139314                           Cobourg    19440
141561                         Port Hope    16753
143808                      Peterborough   121721
146055                    Kawartha Lakes    75423
148302                 Centre Wellington    28191
150549                            Oshawa   379848
152796                         Ingersoll    12757
155043                           Toronto  5928040
157290                          Hamilton   747545
159537          St. Catharines - Niagara   406074
161784  Kitchener - Cambridge - Waterloo   523894
164031                         Brantford   134203
166278                         Woodstock    40902
168525                       Tillsonburg    15872
170772                           Norfolk    64044
173019                            Guelph   151984
175266                         Stratford    31465
177513                            London   494069
179760                      Chatham-Kent   102042
182007                        Leamington    49147
184254                           Windsor   329144
186501                            Sarnia    96151
188748                      Wasaga Beach    20675
190995                        Owen Sound    31820
193242                       Collingwood    21793
195489                            Barrie   197059
197736                           Orillia    31166
199983                           Midland    35859
202230                         North Bay    70378
204477                   Greater Sudbury   164689
206724                       Elliot Lake    10741
208971                           Timmins    41788
211218                  Sault Ste. Marie    78159
213465                       Thunder Bay   121621
215712                            Kenora    15096
217959                          Winnipeg   778489
220206                           Winkler    30297
222453                         Steinbach    15829
224700                Portage la Prairie    13304
226947                           Brandon    58003
229194                          Thompson    13678
231441                            Regina   236481
233688                           Yorkton    18905
235935                         Moose Jaw    35053
238182                     Swift Current    18536
240429                         Saskatoon   295095
242676                  North Battleford    19623
244923                     Prince Albert    44160
247170                           Estevan    13615
249417                           Weyburn    10870
251664                      Medicine Hat    76522
253911                            Brooks    24662
256158                        Lethbridge   117394
258405                           Okotoks    28881
260652                        High River    13584
262899                           Calgary  1392609
265146                        Strathmore    13756
267393                           Canmore    13992
269640                          Red Deer   100418
271887                       Sylvan Lake    15302
274134                           Lacombe    13057
276381                           Camrose    18742
278628                          Edmonton  1321426
280875                      Lloydminster    34583
283122  Lloydminster (Saskatchewan part)    14938
285369       Lloydminster (Alberta part)    19645
287616                         Cold Lake    14961
289863                    Grande Prairie    63166
292110                      Wood Buffalo    73320
294357                        Wetaskiwin    12655
296604                         Cranbrook    26083
298851                            Nelson    18307
301098                         Penticton    43432
303345                           Kelowna   194882
305592                            Vernon    61334
307839                        Salmon Arm    17904
310086                          Kamloops   103811
312333                        Chilliwack   101512
314580              Abbotsford - Mission   180518
316827                         Vancouver  2463431
319074                          Squamish    19893
321321                          Victoria   367770
323568                            Duncan    44451
325815                           Nanaimo   104936
328062                        Parksville    28922
330309                      Port Alberni    25112
332556                         Courtenay    54157
334803                    Campbell River    37861
337050                      Powell River    16783
339297                     Williams Lake    18277
341544                           Quesnel    23146
343791                     Prince Rupert    12687
346038                           Terrace    15723
348285                     Prince George    86622
350532                      Dawson Creek    12178
352779                     Fort St. John    28396
355026                        Whitehorse    28225
357273                       Yellowknife    19569

In [664]:
un_countries = pd.read_csv('../public_data/uncountries.csv', header=None)
# Set country populations high so that they take precedence over city names
un_countries['population'] = 1000000000
un_countries = un_countries.iloc[:,[0,3]].set_axis(['name', 'pop'], axis=1)
un_countries.head()

             name         pop
0     Afghanistan  1000000000
1   Ã…land Islands  1000000000
2         Albania  1000000000
3         Algeria  1000000000
4  American Samoa  1000000000

In [746]:
foreign_entities_df = pd.DataFrame(columns=['name','pop'])
for df in [un_cities, un_countries, canada_areas, uk_areas]:
    foreign_entities_df = foreign_entities_df.append(df.copy())
foreign_entities_df['pop'] = foreign_entities_df['pop'].astype(str).str.replace(',', '')
foreign_entities_df['name'] = foreign_entities_df['name'].str.lower().str.replace('city','')

# US City Data

In [545]:
states = pd.read_csv('../public_data/usstateabbreviations.csv', names=['abb', 'name'])['name']

# Filter by population
us_cities_df = us_cities_df[us_cities_df['population'] >= 5000]

def extract_state(state):
    split = state.split(',')[-1].strip()
    # Some state strings have multiple punctuation and require extra filtering,
    # e.g., "Lynchburg, Moore county metropolitan government, Tennessee"
    if ';' in split:
        return split.split(';')[-1].strip()
    else:
        return split

In [546]:
import re
def tokenize_cityname(row):
    state = row['state']
    city = row['city_name']
    city = city.split(',')[0]     # Remove State from city name
    # These strings were appended by the census; 'and' is for multiple area labels
    area_names = ['city', 'village', 'borough', 'town', 'CDP', 'municipality', 'and']
    city_and_state = city[:]
    for area_name in area_names:
        city_and_state = city_and_state.replace(' '+area_name, '', 1)
    stripped = city_and_state.strip(' ,')
    # Ensures strings like "Arizona City, Arizona" are changed to "Arizona City"
    # and not "City, Arizona" after strip.
    return state + ' City' if state in stripped else stripped

In [547]:
len(us_cities_df['state'].unique())

52

In [548]:
# Load data and apply operations
us_cities_df = pd.read_csv('../public_data/usacscities.csv', skiprows=1,
                          usecols=['Geographic Area Name', 'Estimate!!Total'])\
                           .set_axis(['city_name', 'population'], axis=1)
us_cities_df['state'] = us_cities_df['city_name'].apply(extract_state)
us_cities_df['city_name_formatted'] = us_cities_df.apply(tokenize_cityname, axis=1)
us_cities_df = us_cities_df.sort_values('population', ascending=False)\
                           .drop_duplicates(subset=['city_name_formatted'], keep='first')
us_cities_df.head()

,city_name,population,state,city_name_formatted
17551,"New York city, New York",8426743,New York,New York City
2725,"Los Angeles city, California",3900794,California,Los Angeles
6283,"Chicago city, Illinois",2717534,Illinois,Chicago
25203,"Houston city, Texas",2217706,Texas,Houston
22711,"Philadelphia city, Pennsylvania",1555072,Pennsylvania,Philadelphia

## Format the City Name from the list of cities to include only the city name

In [549]:
re.split('\W+', 'St. George')

['St', 'George']

In [570]:
to_append = us_cities_df[us_cities_df['city_name_formatted'].str.contains('St.')].copy()
to_append['city_name_formatted'] = to_append['city_name_formatted'].apply(lambda s: s.replace('St.', 'St'))
us_cities_df = us_cities_df.append(to_append)

In [571]:
us_cities_df[us_cities_df['city_name_formatted'].str.contains('George')]

,city_name,population,state,city_name_formatted
26515,"St. George city, Utah",76915,Utah,St. George
25078,"Georgetown city, Texas",56102,Texas,Georgetown
26932,"George Mason CDP, Virginia",10065,Virginia,George Mason
11435,"Woodlawn CDP (Prince George's County), Maryland",7973,Maryland,Woodlawn (Prince George's County)
10765,"Village St. George CDP, Louisiana",7294,Louisiana,Village St. George
27001,"King George CDP, Virginia",5299,Virginia,King George
25079,"George West city, Texas",2538,Texas,George West
5282,"Georgetown-Quitman County unified government, ...",2326,Georgia,Georgetown-Quitman County unified government
27152,"Prince George CDP, Virginia",1944,Virginia,Prince George
22080,"Georgetown CDP (Luzerne County), Pennsylvania",1782,Pennsylvania,Georgetown (Luzerne County)
4119,"St. Georges CDP, Delaware",1141,Delaware,St. Georges
8443,"George city, Iowa",1065,Iowa,George
22079,"Georgetown CDP (Lancaster County), Pennsylvania",986,Pennsylvania,Georgetown (Lancaster County)
17376,"Lake George village, New York",851,New York,Lake George
4843,"St. George Island CDP, Florida",587,Florida,St. George Island
26515,"St. George city, Utah",76915,Utah,St. George
10765,"Village St. George CDP, Louisiana",7294,Louisiana,Village St. George
4119,"St. Georges CDP, Delaware",1141,Delaware,St. Georges
4843,"St. George Island CDP, Florida",587,Florida,St. George Island
26515,"St. George city, Utah",76915,Utah,St. George
10765,"Village St. George CDP, Louisiana",7294,Louisiana,Village St. George
4119,"St. Georges CDP, Delaware",1141,Delaware,St. Georges
4843,"St. George Island CDP, Florida",587,Florida,St. George Island
26515,"St. George city, Utah",76915,Utah,St. George
10765,"Village St. George CDP, Louisiana",7294,Louisiana,Village St. George
4119,"St. Georges CDP, Delaware",1141,Delaware,St. Georges
4843,"St. George Island CDP, Florida",587,Florida,St. George Island
26515,"St. George city, Utah",76915,Utah,St George
10765,"Village St. George CDP, Louisiana",7294,Louisiana,Village St George
4119,"St. Georges CDP, Delaware",1141,Delaware,St Georges
4843,"St. George Island CDP, Florida",587,Florida,St George Island
26515,"St. George city, Utah",76915,Utah,St George
10765,"Village St. George CDP, Louisiana",7294,Louisiana,Village St George
4119,"St. Georges CDP, Delaware",1141,Delaware,St Georges
4843,"St. George Island CDP, Florida",587,Florida,St George Island
26515,"St. George city, Utah",76915,Utah,St George
10765,"Village St. George CDP, Louisiana",7294,Louisiana,Village St George
4119,"St. Georges CDP, Delaware",1141,Delaware,St Georges
4843,"St. George Island CDP, Florida",587,Florida,St George Island
26515,"St. George city, Utah",76915,Utah,St George
10765,"Village St. George CDP, Louisiana",7294,Louisiana,Village St George
4119,"St. Georges CDP, Delaware",1141,Delaware,St Georges
4843,"St. George Island CDP, Florida",587,Florida,St George Island

# State names and abbreviations

In [593]:
states_df = pd.read_csv('../public_data/usstateabbreviations.csv', header=None).set_axis(['state_abb','state_name'], axis=1)
states_df['abb_with_periods'] = states_df['state_abb'].apply(lambda s: s[0]+'.'+s[1]+'.')
states_df.head(3)

  state_abb state_name abb_with_periods
0        AK     Alaska             A.K.
1        AL    Alabama             A.L.
2        AR   Arkansas             A.R.

In [606]:
state_strings = set([s.lower() for row in states_df.values.tolist() for s in row])

In [607]:
state_strings

{'a.k.',
 'a.l.',
 'a.r.',
 'a.z.',
 'ak',
 'al',
 'alabama',
 'alaska',
 'ar',
 'arizona',
 'arkansas',
 'az',
 'c.a.',
 'c.o.',
 'c.t.',
 'ca',
 'california',
 'co',
 'colorado',
 'connecticut',
 'ct',
 'd.c.',
 'd.e.',
 'dc',
 'de',
 'delaware',
 'district of columbia',
 'f.l.',
 'fl',
 'florida',
 'g.a.',
 'ga',
 'georgia',
 'h.i.',
 'hawaii',
 'hi',
 'i.a.',
 'i.d.',
 'i.l.',
 'i.n.',
 'ia',
 'id',
 'idaho',
 'il',
 'illinois',
 'in',
 'indiana',
 'iowa',
 'k.s.',
 'k.y.',
 'kansas',
 'kentucky',
 'ks',
 'ky',
 'l.a.',
 'la',
 'louisiana',
 'm.a.',
 'm.d.',
 'm.e.',
 'm.i.',
 'm.n.',
 'm.o.',
 'm.s.',
 'm.t.',
 'ma',
 'maine',
 'maryland',
 'massachusetts',
 'md',
 'me',
 'mi',
 'michigan',
 'minnesota',
 'mississippi',
 'missouri',
 'mn',
 'mo',
 'montana',
 'ms',
 'mt',
 'n.c.',
 'n.d.',
 'n.e.',
 'n.h.',
 'n.j.',
 'n.m.',
 'n.v.',
 'n.y.',
 'nc',
 'nd',
 'ne',
 'nebraska',
 'nevada',
 'new hampshire',
 'new jersey',
 'new mexico',
 'new york',
 'nh',
 'nj',
 'nm',
 'north carolina',
 'north dakota',
 'nv',
 'ny',
 'o.h.',
 'o.k.',
 'o.r.',
 'oh',
 'ohio',
 'ok',
 'oklahoma',
 'or',
 'oregon',
 'p.a.',
 'p.r.',
 'pa',
 'pennsylvania',
 'pr',
 'puerto rico',
 'r.i.',
 'rhode island',
 'ri',
 's.c.',
 's.d.',
 'sc',
 'sd',
 'south carolina',
 'south dakota',
 't.n.',
 't.x.',
 'tennessee',
 'texas',
 'tn',
 'tx',
 'u.t.',
 'ut',
 'utah',
 'v.a.',
 'v.t.',
 'va',
 'vermont',
 'virginia',
 'vt',
 'w.a.',
 'w.i.',
 'w.v.',
 'w.y.',
 'wa',
 'washington',
 'west virginia',
 'wi',
 'wisconsin',
 'wv',
 'wy',
 'wyoming'}

# Shelving

In [747]:
import shelve
shelf = shelve.open('../public_data/location_data')
shelf['foreign_entities_df'] = foreign_entities_df
shelf['state_strings'] = state_strings

In [ ]:
shelf['foreign_entities'].pop()