# Generating Lookup Tables for Geolocation
This notebook details the steps to generate the lookup tables for geolocation.

In [315]:
import pandas as pd
pd.set_option('display.max_rows', 300)

# International Cities and Counties
World cities with populations >100K, Canadian cities, Canadian counties, UK cities

In [377]:
# Only need first column of data
un_cities = pd.read_csv('../public_data/uncities.csv').iloc[:,0].dropna()
un_cities.head()

0    Population des capitales et des villes de 100 ...
1    Continent, country or area, date, code and cit...
5                                     AFRICA - AFRIQUE
6                                    Algeria - Algérie
7                           16 IV 2008 (CDJC)
Name: 8. Population of capital cities and cities of 100 000 or more inhabitants: latest available year,  2000 - 2019, dtype: object

In [367]:
uk_areas = pd.read_csv('../public_data/ukcensusareas.csv', skiprows=1, 
                        usecols=['Unnamed: 2']).set_axis(['area_name'], axis=1).iloc[:,0]
uk_areas.head()

0             England
1    Northern Ireland
2            Scotland
3               Wales
4          North East
Name: area_name, dtype: object

In [361]:
load_cols = ['GEO_NAME', 'DIM: Profile of Census Metropolitan Areas/Census Agglomerations (2247)',
            'Dim: Sex (3): Member ID: [1]: Total - Sex']
canada_areas = pd.read_csv('../public_data/canadacensusareas.csv', low_memory=False, usecols=load_cols)\
                  .set_axis(['area_name', 'variable', 'population'], axis=1)
canada_areas = canada_areas[canada_areas['variable'] == 'Population, 2016'].iloc[:,0]
canada_areas.head()

0                St. John's
2247            Bay Roberts
4494    Grand Falls-Windsor
6741                 Gander
8988           Corner Brook
Name: area_name, dtype: object

In [359]:
un_countries = pd.read_csv('../public_data/uncountries.csv', header=None).iloc[:,0]
un_countries.head()

0       Afghanistan
1     Åland Islands
2           Albania
3           Algeria
4    American Samoa
Name: 0, dtype: object

In [393]:
foreign_entities = set(un_cities).union(uk_areas).union(canada_areas).union(un_countries)
foreign_entities = {s.lower() for s in foreign_entities}

# US City Data

In [519]:
states = pd.read_csv('../public_data/usstateabbreviations.csv', names=['abb', 'name'])['name']

# Filter by population
us_cities_df = us_cities_df[us_cities_df['population'] >= 5000]

def extract_state(state):
    split = state.split(',')[-1].strip()
    # Some state strings have multiple punctuation and require extra filtering,
    # e.g., "Lynchburg, Moore county metropolitan government, Tennessee"
    if ';' in split:
        return split.split(';')[-1].strip()
    else:
        return split

In [522]:
import re
def tokenize_cityname(row):
    state = row['state']
    city = row['city_name']
    city = city.split(',')[0]     # Remove State from city name
    # These strings were appended by the census; 'and' is for multiple area labels
    area_names = ['city', 'village', 'borough', 'town', 'CDP', 'municipality', 'and']
    city_and_state = city[:]
    for area_name in area_names:
        city_and_state = city_and_state.replace(' '+area_name, '', 1)
    stripped = city_and_state.strip(' ,')
    # Ensures strings like "Arizona City, Arizona" are changed to "Arizona City"
    # and not "City, Arizona" after strip.
    return state + ' City' if state in stripped else stripped

In [462]:
len(us_cities_df['state'].unique())

52

In [521]:

us_cities_df = pd.read_csv('../public_data/usacscities.csv', skiprows=1,
                          usecols=['Geographic Area Name', 'Estimate!!Total'])\
                           .set_axis(['city_name', 'population'], axis=1)
us_cities_df['state'] = us_cities_df['city_name'].apply(extract_state)
us_cities_df['city_name_formatted'] = us_cities_df.apply(tokenize_cityname, axis=1)
us_cities_df = us_cities_df.sort_values('population', ascending=False)#.duplicated(subset=['city_name_formatted'], keep='first')
us_cities_df = us_cities_df.drop_duplicates(subset=['city_name_formatted'], keep='first')
us_cities_df.head()
us_cities_df[us_cities_df['city_name_formatted'].str.contains('eorge')]

,city_name,population,state,city_name_formatted
17551,"New York city, New York",8426743,New York,New York City
2725,"Los Angeles city, California",3900794,California,Los Angeles
6283,"Chicago city, Illinois",2717534,Illinois,Chicago
25203,"Houston city, Texas",2217706,Texas,Houston
22711,"Philadelphia city, Pennsylvania",1555072,Pennsylvania,Philadelphia

## Format the City Name from the list of cities to include only the city name

In [230]:
re.split('\W+', 'St. George')

['St', 'George']

In [495]:
us_cities_df.head()
us_cities_df = us_cities_df.sort_values('population').duplicated(subset=['city_name_formatted'], keep='first')

ValueError: No axis named population for object type <class 'pandas.core.series.Series'>

In [489]:
us_cities_df.head()

28841    False
15964    False
12520    False
18587    False
4895     False
dtype: bool

In [494]:
print(len(us_cities_df[['state', 'city_name_formatted']].drop_duplicates()))
us_cities_df[us_cities_df.duplicated(subset=['state', 'city_name_formatted'])]

KeyError: "None of [Index(['state', 'city_name_formatted'], dtype='object')] are in the [index]"

So only 3 townships were dropped.

## Add population data

In [246]:
us_pops = pd.read_csv('../public_data/uscitypops.csv', usecols=['city', 'state_name', 'population'])
print(len(us_pops))
us_pops.head()

28338

          city  state_name  population
0     New York    New York    18713220
1  Los Angeles  California    12750807
2      Chicago    Illinois     8604203
3        Miami     Florida     6445545
4       Dallas       Texas     5743938

In [313]:
us_pops[us_pops['city']=='Darien']

         city state_name  population
2220   Darien   Illinois       21628
8072   Darien    Georgia        3580
12030  Darien  Wisconsin        1590

In [280]:
us_pops[us_pops.duplicated(subset=['city', 'state_name'])]

              city    state_name  population
4553      Woodbury      New York        8852
5301    Middletown  Pennsylvania        7212
8018       Oakwood          Ohio        3624
8908        Midway       Florida        3000
11916  San Antonio   Puerto Rico        1625
12023       Midway       Florida        1592
12633      Oakland  Pennsylvania        1422
12648  San Antonio   Puerto Rico        1419
13691   Georgetown  Pennsylvania        1182
15813  Chula Vista         Texas         829
17912      Oakwood          Ohio         587
18157      Oakland  Pennsylvania         562
21873     Franklin  Pennsylvania         293
22175  Chula Vista         Texas         276
22614    Jefferson  Pennsylvania         253
22935      Newtown  Pennsylvania         236
22963      Liberty  Pennsylvania         234
24586   Georgetown  Pennsylvania         162

In [308]:
city_state_pops = pd.merge(us_cities_df.rename(columns={'state':'state_name', 'city_name_formatted':'city'})[['state_name', 'city']],
                           us_pops, 
                           how='left', 
                           on=['city', 'state_name'])\
                    .sort_values('population', ascending=False)\
                    .reset_index()

In [309]:
city_state_pops.head()

   index    state_name          city  population
0    537    California   Los Angeles  12750807.0
1   1658      Illinois       Chicago   8604203.0
2   1197       Florida         Miami   6445545.0
3   4735         Texas        Dallas   5743938.0
4   4401  Pennsylvania  Philadelphia   5649300.0

In [311]:
len(city_state_pops[city_state_pops['population'].isna()].head(300))

194

In [310]:
city_state_pops[city_state_pops['population'].isna()].head(300)

,index,state_name,city,population
5378,105,Alaska,Lakes,NaN
5379,187,Arizona,Village of Oak Creek (Big Park),NaN
5380,299,California,Bonadelle Ranchos-Madera Ranchos,NaN
5381,402,California,El Paso de Robles (Paso Robles),NaN
5382,405,California,El Sobrante (Riverside County),NaN
5383,695,California,San Buenaventura (Ventura),NaN
5384,754,California,Spring Valley (San Diego County),NaN
5385,916,Colorado,Twin Lakes (Adams County),NaN
5386,924,Connecticut,Bethel,NaN
5387,930,Connecticut,Darien,NaN
5388,932,Connecticut,East Hartford,NaN
5389,933,Connecticut,East Haven,NaN
5390,935,Connecticut,Greenwich,NaN
5391,936,Connecticut,Groton,NaN
5392,939,Connecticut,Manchester,NaN
5393,942,Connecticut,Milford (balance),NaN
5394,946,Connecticut,Newington,NaN
5395,948,Connecticut,New Milford,NaN
5396,949,Connecticut,North Haven,NaN
5397,953,Connecticut,Orange,NaN
5398,954,Connecticut,Putnam,NaN
5399,955,Connecticut,Ridgefield,NaN
5400,962,Connecticut,Stratford,NaN
5401,965,Connecticut,Trumbull,NaN
5402,968,Connecticut,West Hartford,NaN
5403,970,Connecticut,Westport,NaN
5404,971,Connecticut,Wethersfield,NaN
5405,973,Connecticut,Windsor Locks,NaN
5406,1095,Florida,Four Corners,NaN
5407,1137,Florida,Islamorada,NaN
5408,1205,Florida,Midway (Santa Rosa County),NaN
5409,1276,Florida,Pine Ridge (Citrus County),NaN
5410,1403,Georgia,Athens-Clarke County unified government (bal,NaN
5411,1406,Georgia,Augusta-Richmond County consolidated governm,NaN
5412,1431,Georgia,Cusseta-Chattahoochee County unified governm,NaN
5413,1479,Georgia,Macon-Bibb County,NaN
5414,1542,Hawaii,Hawaii City,NaN
5415,1547,Hawaii,Kailua (Honolulu County),NaN
5416,1570,Hawaii,Urban Honolulu,NaN
5417,1579,Hawaii,Hawaii City,NaN
5418,1585,Idaho,Boise City,NaN
5419,1960,Indiana,Indiana City,NaN
5420,1996,Indiana,Purdue University,NaN
5421,2169,Kentucky,Lexington-Fayette urban county,NaN
5422,2171,Kentucky,Louisville/Jefferson County metro government,NaN
5423,2303,Maine,Brunswick,NaN
5424,2306,Maine,Gorham,NaN
5425,2308,Maine,Old Orchard Beach,NaN
5426,2310,Maine,Orono,NaN
5427,2316,Maine,Skowhegan,NaN
5428,2318,Maine,Topsham,NaN
5429,2321,Maine,Winslow,NaN
5430,2493,Maryland,Woodlawn (Baltimore County),NaN
5431,2494,Massachusetts,Abington,NaN
5432,2495,Massachusetts,Agawam Town,NaN
5433,2496,Massachusetts,Amesbury Town,NaN
5434,2498,Massachusetts,Andover,NaN
5435,2499,Massachusetts,Arlington,NaN
5436,2500,Massachusetts,Athol,NaN
5437,2502,Massachusetts,Barnstable Town,NaN
5438,2503,Massachusetts,Belmont,NaN
5439,2507,Massachusetts,Braintree Town,NaN
5440,2510,Massachusetts,Brookline,NaN
5441,2511,Massachusetts,Burlington,NaN
5442,2515,Massachusetts,Clinton,NaN
5443,2517,Massachusetts,Danvers,NaN
5444,2518,Massachusetts,Dedham,NaN
5445,2519,Massachusetts,Easthampton Town,NaN
5446,2524,Massachusetts,Franklin Town,NaN
5447,2527,Massachusetts,Greenfield Town,NaN
5448,2529,Massachusetts,Holbrook,NaN
5449,2531,Massachusetts,Hudson,NaN
5450,2532,Massachusetts,Hull,NaN
5451,2533,Massachusetts,Kingston,NaN
5452,2536,Massachusetts,Lexington,NaN
5453,2537,Massachusetts,Longmeadow,NaN
5454,2540,Massachusetts,Lynnfield,NaN
5455,2543,Massachusetts,Marblehead,NaN
5456,2545,Massachusetts,Maynard,NaN
5457,2550,Massachusetts,Milford,NaN
5458,2551,Massachusetts,Milton,NaN
5459,2552,Massachusetts,Nantucket,NaN
5460,2553,Massachusetts,Needham,NaN
5461,2558,Massachusetts,North Amherst,NaN
5462,2560,Massachusetts,Northborough,NaN
5463,2561,Massachusetts,Norwood,NaN
5464,2562,Massachusetts,Oxford,NaN
5465,2563,Massachusetts,Palmer Town,NaN
5466,2567,Massachusetts,Plymouth,NaN
5467,2570,Massachusetts,Reading,NaN
5468,2573,Massachusetts,Saugus,NaN
5469,2574,Massachusetts,Somerset,NaN
5470,2576,Massachusetts,Southbridge Town,NaN
5471,2579,Massachusetts,Stoneham,NaN
5472,2580,Massachusetts,Swampscott,NaN
5473,2582,Massachusetts,Wakefield,NaN
5474,2585,Massachusetts,Webster,NaN
5475,2586,Massachusetts,Wellesley,NaN
5476,2589,Massachusetts,West Springfield Town,NaN
5477,2591,Massachusetts,Weymouth Town,NaN
5478,2593,Massachusetts,Wilmington,NaN
5479,2594,Massachusetts,Winchester,NaN
5480,2595,Massachusetts,Winthrop Town,NaN
5481,2842,Minnesota,St. Anthony (Hennepin Ramsey Counti,NaN
5482,3040,Missouri,Town Country,NaN
5483,3053,Montana,Anaconda-Deer Lodge County,NaN
5484,3057,Montana,Butte-Silver Bow (balance),NaN
5485,3135,New Hampshire,Derry,NaN
5486,3137,New Hampshire,Durham,NaN
5487,3138,New Hampshire,Exeter,NaN
5488,3140,New Hampshire,Hampton,NaN
5489,3141,New Hampshire,Hanover,NaN
5490,3142,New Hampshire,Hudson,NaN
5491,3146,New Hampshire,Londonderry,NaN
5492,3148,New Hampshire,Milford,NaN
5493,3178,New Jersey,Burlington,NaN
5494,3183,New Jersey,Carneys Point,NaN
5495,3185,New Jersey,Chatham,NaN
5496,3219,New Jersey,Freehold,NaN
5497,3251,New Jersey,Lakewood,NaN
5498,3293,New Jersey,Old Bridge,NaN
5499,3301,New Jersey,Pennsville,NaN
5500,3316,New Jersey,Raritan,NaN
5501,3324,New Jersey,Rockaway,NaN
5502,3348,New Jersey,Toms River,NaN
5503,3372,New Jersey,Woodbridge,NaN
5504,3422,New York,Babylon,NaN
5505,3439,New York,Brighton,NaN
5506,3443,New York,Canandaigua,NaN
5507,3444,New York,Canton,NaN
5508,3450,New York,Cheektowaga,NaN
5509,3453,New York,Colonie,NaN
5510,3467,New York,Eastchester,NaN
5511,3469,New York,East Garden City,NaN
5512,3498,New York,Geneseo,NaN
5513,3506,New York,Greece,NaN
5514,3508,New York,Greenville (Westchester County),NaN
5515,3509,New York,Hamburg,NaN
5516,3514,New York,Haverstraw,NaN
5517,3515,New York,Hempstead,NaN
5518,3516,New York,Herkimer,NaN
5519,3523,New York,Horseheads,NaN
5520,3526,New York,Huntington,NaN
5521,3530,New York,Irondequoit,NaN
5522,3532,New York,Islip,NaN
5523,3548,New York,Lancaster,NaN
5524,3557,New York,Mamaroneck,NaN
5525,3563,New York,Massena,NaN
5526,3575,New York,Monroe,NaN
5527,3586,New York,Newburgh,NaN
5528,3590,New York,New Paltz,NaN
5529,3592,New York,New Windsor,NaN
5530,3593,New York,New York City,NaN
5531,3620,New York,Ossining,NaN
5532,3622,New York,Oyster Bay,NaN
5533,3626,New York,Pelham,NaN
5534,3636,New York,Potsdam,NaN
5535,3640,New York,Riverhead,NaN
5536,3648,New York,Rotterdam,NaN
5537,3649,New York,Rye,NaN
5538,3662,New York,Seneca Falls,NaN
5539,3663,New York,Setauket-East Setauket,NaN
5540,3666,New York,Smithtown,NaN
5541,3673,New York,Southold,NaN
5542,3674,New York,Southport,NaN
5543,3679,New York,Stony Point,NaN
5544,3698,New York,Warwick,NaN
5545,3709,New York,West Seneca,NaN
5546,4282,Pennsylvania,Bristol,NaN
5547,4311,Pennsylvania,Doylestown,NaN
5548,4347,Pennsylvania,Horsham,NaN
5549,4369,Pennsylvania,Lower Allen,NaN
5550,4434,Pennsylvania,Upper St. Clair,NaN
5551,4443,Pennsylvania,Whitehall,NaN
5552,4465,Rhode Island,Tiverton,NaN
5553,4469,Rhode Island,Westerly,NaN
5554,4605,Tennessee,Hartsville/Trousdale County,NaN
5555,4636,Tennessee,Nashville-Davidson metropolitan government (,NaN
5556,4786,Texas,Greatwood,NaN
5557,4878,Texas,New Territory,NaN
5558,5059,Vermont,Bennington,NaN
5559,5060,Vermont,Brattleboro,NaN
5560,5063,Vermont,Middlebury,NaN
5561,5067,Vermont,St. Johnsbury,NaN
5562,5173,Virginia,Marumsco,NaN
5563,5199,Virginia,Rose Hill (Fairfax County),NaN
5564,5220,Virginia,Tysons Corner,NaN
5565,5221,Virginia,Virginia City,NaN
5566,5224,Virginia,Virginia City,NaN
5567,5235,Virginia,Woodlawn (Fairfax County),NaN
5568,5284,Washington,Fairwood (King County),NaN
5569,5305,Washington,Klahanie,NaN
5570,5396,Washington,Walnut Grove,NaN
5571,5555,Wisconsin,Wisconsin City,NaN