In [1]:
import pandas as pd

In [2]:
scores_df = pd.read_parquet('/dlabdata1/smarda/private_data/master/tweets_with_scores.parquet.gzip')
scores_df.head()

,author_id,tweet_id,tweet_text,created_at,next_token,final_state,joy,surprise,fear,anger,sadness,disgust
0,193851688,295969488942288896,It's literally like knives are being plunged i...,2013-01-28T18:59:59.000Z,1jzu9lk96gu5npvzzymnrxxn1nib59kz0vmizbbxmfst,Nebraska,0.050008,0.029231,0.125249,0.050691,0.412114,0.332706
1,110575831,295969488120201216,The whole right side of my body hurts.,2013-01-28T18:59:59.000Z,1jzu9lk96gu5npvzzymnrxxn1nib59kz0vmizbbxmfst,Puerto Rico,0.021590,0.004403,0.034428,0.039123,0.760874,0.139582
2,61044794,295969487172280322,Great @BikramYoga_rva class ;) my body needed it,2013-01-28T18:59:59.000Z,1jzu9lk96gu5npvzzymnrxxn1nib59kz0vmizbbxmfst,Florida,0.720429,0.016701,0.055441,0.016712,0.125736,0.064981
3,788084582,295969485700087809,What a great chest &amp; tricep workout with t...,2013-01-28T18:59:58.000Z,1jzu9lk96gu5npvzzymnrxxn1nib59kz0vmizbbxmfst,Texas,0.967715,0.002706,0.014748,0.003146,0.004461,0.007223
4,721257134,295969483854589954,"Seriously dude, stop breathing in my face",2013-01-28T18:59:58.000Z,1jzu9lk96gu5npvzzymnrxxn1nib59kz0vmizbbxmfst,Idaho,0.084153,0.006059,0.024408,0.385894,0.092785,0.406701

In [5]:
sum(scores_df['final_state'] == 'Puerto Rico')

982